---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions/
    body:
      encoding: UTF-8
      string: email=davelively14%40gmail.com&password=0LDw00d1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1e68f800dfcffee0050bd2ff52ff339a"'
    body:
      encoding: UTF-8
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiZWU3N2I5NDVhNzdiNDBiMjk4YTY0ZDJhODhkMjVkZTUiLCJ1c2VyX2lkIjoyMzY3OTc4LCJuYW1lIjoiRGF2aWQgTGl2ZWx5In0.IrNbQlmM8HZW-8xc29xYAMqCMo62rWN2rsYoAVjsA7c","user":{"id":2367978,"email":"davelively14@gmail.com","created_at":"2016-12-20T13:32:11.739Z","updated_at":"2017-02-27T01:15:19.640Z","facebook_id":null,"first_name":"David","last_name":"Lively","role":"user","stripe_customer_id":"cus_9mMXh2CM1NGYBh","twitter_handle":"RealDaveLively","skype_handle":"davelively14","github_handle":"davelively14","time_zone":"Eastern
        Time (US \u0026 Canada)","bio":null,"photo_file_name":"Headshot_-_2015_-_small.jpg","photo_content_type":"image/jpeg","photo_file_size":26489,"photo_updated_at":"2017-01-09T14:02:22.521Z","send_new_message_emails":true,"referred_by_id":null,"slug":"david-lively","os":"OS
        X","last_seen_at":"2017-02-27T01:15:19.571Z","private_profile":false,"google_plus_id":null,"linkedin":"https://www.linkedin.com/in/livelydave","quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":5700,"phone_num":"912-695-8927","title":null,"quota_limit":0,"dribbble_handle":null,"codecademy_handle":null,"birthdate":"1979-09-02","gender":"Male","first_visit_id":null,"codewars_handle":"davelively14"}}'
  recorded_at: Mon, 27 Feb 2017 01:16:33 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/message_threads
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiZWU3N2I5NDVhNzdiNDBiMjk4YTY0ZDJhODhkMjVkZTUiLCJ1c2VyX2lkIjoyMzY3OTc4LCJuYW1lIjoiRGF2aWQgTGl2ZWx5In0.IrNbQlmM8HZW-8xc29xYAMqCMo62rWN2rsYoAVjsA7c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7b6989bfffec0305aaff32843be1df46"'
    body:
      encoding: UTF-8
      string: '{"items":[{"id":271272,"token":"bc8f7aff-0693-452c-b31d-ab07006675e9","subject":"Continuing
        Discussion from CP 30","updated_at":"2017-02-20T14:48:15.578Z","unread":false,"user_image":"https://cdn-photos.bloc.io/square/2363254/Headshot_close.jpg?1479266846","preview":"Yeah,
        I totally see what you are getting at. Th...","first_name":"Ryan","last_name":"Milstead","page":null},{"id":267707,"token":"c241a66b-cadc-4d18-9f13-627d78750a1d","subject":"Checkpoint
        9","updated_at":"2017-02-08T20:38:34.226Z","unread":false,"user_image":"https://cdn-photos.bloc.io/square/2363254/Headshot_close.jpg?1479266846","preview":"Ok,
        cool. Gotcha. Thanks!","first_name":"Ryan","last_name":"Milstead","page":null},{"id":265626,"token":"5636f90d-06e8-4840-af15-5d339d7357e5","subject":"Software
        Backend Programming Fundamentals 3 - Quiz: Ruby Programming Fundamentals discussion","updated_at":"2017-02-06T15:02:15.587Z","unread":false,"user_image":"https://cdn-photos.bloc.io/square/2363254/Headshot_close.jpg?1479266846","preview":"Amazing!","first_name":"Ryan","last_name":"Milstead","page":null},{"id":259942,"token":"2a3cdaa9-35b7-4435-b565-98ef15fcdd12","subject":"Software
        Foundation: Frontend Web Development 19 - jQuery: Next and Previous Buttons
        discussion","updated_at":"2017-01-19T17:04:34.171Z","unread":false,"user_image":"https://cdn-photos.bloc.io/square/2363254/Headshot_close.jpg?1479266846","preview":"No
        worries. The format of most of these checkpo...","first_name":"Ryan","last_name":"Milstead","page":null},{"id":259203,"token":"86eab661-00eb-4ea1-a942-ff21f028f856","subject":"Software
        Foundation: Frontend Web Development 11 - DOM Scripting: A[...]
