---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions/
    body:
      encoding: UTF-8
      string: email=davelively14%40gmail.com&password=0LDw00d1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2306f23422938b8c95143e049eb7ddb8"'
    body:
      encoding: UTF-8
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiZWU3N2I5NDVhNzdiNDBiMjk4YTY0ZDJhODhkMjVkZTUiLCJ1c2VyX2lkIjoyMzY3OTc4LCJuYW1lIjoiRGF2aWQgTGl2ZWx5In0.IrNbQlmM8HZW-8xc29xYAMqCMo62rWN2rsYoAVjsA7c","user":{"id":2367978,"email":"davelively14@gmail.com","created_at":"2016-12-20T13:32:11.739Z","updated_at":"2017-02-27T00:42:41.680Z","facebook_id":null,"first_name":"David","last_name":"Lively","role":"user","stripe_customer_id":"cus_9mMXh2CM1NGYBh","twitter_handle":"RealDaveLively","skype_handle":"davelively14","github_handle":"davelively14","time_zone":"Eastern
        Time (US \u0026 Canada)","bio":null,"photo_file_name":"Headshot_-_2015_-_small.jpg","photo_content_type":"image/jpeg","photo_file_size":26489,"photo_updated_at":"2017-01-09T14:02:22.521Z","send_new_message_emails":true,"referred_by_id":null,"slug":"david-lively","os":"OS
        X","last_seen_at":"2017-02-27T00:42:41.606Z","private_profile":false,"google_plus_id":null,"linkedin":"https://www.linkedin.com/in/livelydave","quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":5700,"phone_num":"912-695-8927","title":null,"quota_limit":0,"dribbble_handle":null,"codecademy_handle":null,"birthdate":"1979-09-02","gender":"Male","first_visit_id":null,"codewars_handle":"davelively14"}}'
  recorded_at: Mon, 27 Feb 2017 00:43:53 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/users/me/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiZWU3N2I5NDVhNzdiNDBiMjk4YTY0ZDJhODhkMjVkZTUiLCJ1c2VyX2lkIjoyMzY3OTc4LCJuYW1lIjoiRGF2aWQgTGl2ZWx5In0.IrNbQlmM8HZW-8xc29xYAMqCMo62rWN2rsYoAVjsA7c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"07d35c0d1289be47ef61e0d54f91977a"'
    body:
      encoding: UTF-8
      string: '{"id":2367978,"slug":"david-lively","name":"David Lively","email":"davelively14@gmail.com","title":null,"first_name":"David","last_name":"Lively","facebook_id":null,"url":"/users/david-lively","bio":null,"course":{"id":62,"name":"Software
        Developer Track","length":54,"kind":"software_dev_track","appointments_per_week":2},"current_enrollment":{"id":20477,"created_at":"2016-12-20T05:37:43.015-08:00","updated_at":"2017-02-26T14:34:54.005-08:00","cohort_id":null,"status":"active","mentor_id":2363254,"deleted":false,"onboarded":true,"dropped_out_at":null,"birth_date":"2016-12-20T05:37:43.013-08:00","roadmap_id":38,"course_end_date":"2018-01-21T23:00:00.000-08:00","course_start_date":"2017-01-09T00:00:00.000-08:00","death_date":null,"sent_get_started_email":false,"course_id":62,"old_visit_id":null,"certified":false,"locked_message":"","latest":true,"chain_id":5700,"roadmap_ref":"63053e55-f838-4afe-9dce-f89ac6b83378|0","visit_id":"0e84de1d-ff4f-44d4-8297-73b5d6ad8d1e"},"quota":0,"quota_limit":0,"type":"Student","status":"active","image_src":"https://cdn-photos.bloc.io/original/2367978/Headshot_-_2015_-_small.jpg?1483970542","large_image_src":"https://cdn-photos.bloc.io/large/2367978/Headshot_-_2015_-_small.jpg?1483970542","created_at":"2016-12-20
        05:32:11 -0800","facebook_profile_picture_url":"http://graph.facebook.com//picture?width=110\u0026height=110","github_handle":"davelively14","codecademy_handle":null,"student":true,"time_zone":{"name":"Eastern
        Time (US \u0026 Canada)","string":"(GMT-05:00) Eastern Time (US \u0026 Canada)","identifier":"America/New_York"}}'
  recorded_at: Mon, 27 Feb 2017 00:43:53 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/mentors/2363254/student_availability/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiZWU3N2I5NDVhNzdiNDBiMjk4YTY0ZDJhODhkMjVkZTUiLCJ1c2VyX2lkIjoyMzY3OTc4LCJuYW1lIjoiRGF2aWQgTGl2ZWx5In0.IrNbQlmM8HZW-8xc29xYAMqCMo62rWN2rsYoAVjsA7c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"26461b3bd1b1a3457cd8eaaee6d0196a"'
    body:
      encoding: UTF-8
      string: '[{"id":21829,"starts_at":"2017-02-28T00:00:00.000Z","ends_at":"2017-02-28T00:29:59.000Z","week_day":2,"booked":null},{"id":21830,"starts_at":"2017-02-28T00:30:00.000Z","ends_at":"2017-02-28T00:59:59.000Z","week_day":2,"booked":true},{"id":21831,"starts_at":"2017-02-28T01:00:00.000Z","ends_at":"2017-02-28T01:29:59.000Z","week_day":2,"booked":null},{"id":21832,"starts_at":"2017-02-28T01:30:00.000Z","ends_at":"2017-02-28T01:59:59.000Z","week_day":2,"booked":null},{"id":21835,"starts_at":"2017-03-01T00:00:00.000Z","ends_at":"2017-03-01T00:29:59.000Z","week_day":3,"booked":null},{"id":21836,"starts_at":"2017-[...]
